@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --accent: #ef4444;
  --accent-hover: #dc2626;
}

body {
  color: var(--foreground);
  background: var(--background);
}
